/* HTML5 BOILERPLATE */
html {
  font-size: 1em;
  line-height: 1.4; }

::-moz-selection {
  background: #92d2e4;
  text-shadow: none; }

::selection {
  background: #92d2e4;
  text-shadow: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #C9C9C9;
  margin: 10px auto;
  padding: 0; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

* img {
  max-width: 100%;
  height: auto; }

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0; }

html, body {
  overflow: hidden;
  margin: 0;
  padding: 0; }

*:focus {
  outline: none; }

/* CROSS-BROWSWER COMPATIBILITY */
/* BOXES COLOR PALETTE */
/* ==========================================================================
   Page
   ========================================================================== */
body {
  background: #000;
  padding: 10px; }

.container {
  width: 100%;
  height: calc(100vh - 20px);
  background: #EAEAEA;
  text-align: center;
  display: flex;
  flex-direction: column;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -ms-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px; }
  .container.scrollable {
    overflow: auto; }

.row {
  width: 100%;
  flex: 1 1 auto;
  align-items: flex-start;
  overflow: hidden; }

.scrollable {
  overflow: auto; }

.row-container {
  margin-left: 20px;
  margin-right: 20px; }

.only-mobile {
  display: none; }

.active {
  background: #DDDDDD !important;
  font-style: italic; }

header {
  width: 100%;
  border-bottom: 1px solid #C9C9C9; }
  header .nav {
    display: flex;
    justify-content: space-around; }
    header .nav a {
      flex-grow: 1;
      text-transform: uppercase;
      padding: 10px;
      color: #333;
      text-decoration: none; }
      header .nav a:hover {
        background: #FFFFFF;
        -webkit-border-radius: 10px 10px 0 0;
        -moz-border-radius: 10px 10px 0 0;
        -ms-border-radius: 10px 10px 0 0;
        border-radius: 10px 10px 0 0; }

.span-box, .warning, .tutorial, .danger {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  -webkit-border-radius: 2px 2px 2px 2px;
  -moz-border-radius: 2px 2px 2px 2px;
  -ms-border-radius: 2px 2px 2px 2px;
  border-radius: 2px 2px 2px 2px;
  padding: 3px;
  border: 1px solid #222222;
  border-top: 10px solid #222222;
  font-size: 80%;
  background: #FFFFFF; }
  .span-box .content, .warning .content, .tutorial .content, .danger .content {
    margin: 0; }

.warning {
  border-color: #f4e775;
  padding-right: 9px; }
  .warning .close {
    float: right;
    color: #f4e775;
    font-size: 120%; }
    .warning .close:hover {
      color: #FFFFFF; }

.tutorial {
  border-color: #92d2e4; }

.danger {
  border-color: #dd8593; }

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .home .logo {
    width: 25%;
    padding: 2px; }
  .home .login-form input[type=text], .home .login-form input[type=password] {
    background: #FFFFFF;
    padding: 5px;
    margin-right: 5px;
    border: 1px inset #DDDDDD;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -ms-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px; }
  .home a {
    color: #222222;
    margin-top: 10px;
    font-size: 80%; }
    .home a:visited {
      color: #222222; }

.btn {
  align-items: flex-start;
  text-align: center;
  color: #000;
  background-color: #FFFFFF;
  padding: 5px;
  border: 1px outset #DDDDDD;
  border-radius: 5px;
  margin: 0 5px; }
  .btn:hover {
    background: #DED5E0 !important; }
  .btn.on {
    border: 2px solid #d01131; }

.btn-center {
  margin: 0 auto; }

.btn-full {
  width: 100%; }

.btn-icon {
  padding: 5px; }

.btn-mini {
  text-align: center;
  color: #000;
  background-color: #FFFFFF;
  padding: 0 3px;
  border: 1px solid #666;
  margin: 3px;
  width: 10%;
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -ms-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px; }

.btn-mini:hover {
  background: #FFFFFF !important;
  cursor: pointer; }

.btn-20 {
  min-width: 20%; }

/* CREATOR */
.creator p {
  margin: 10px auto; }

.creator .textfield {
  font-size: 90%;
  width: 100%;
  text-align: center;
  background: #F2F2F2;
  padding: 5px;
  border: 1px inset #DDDDDD;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -ms-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px; }

.creator .public-status {
  margin-top: 10px; }

.members-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px; }

/* COLORS */
.color-peach {
  background-color: #ffa07a !important; }

.color-tomato {
  background-color: #ff6347 !important; }

.color-pale {
  background-color: #d2b48c !important; }

.color-dirt {
  background-color: #948271 !important; }

.color-orange {
  background-color: #ff8e2a !important; }

.color-brown {
  background-color: #8b4513 !important; }

.color-yellow {
  background-color: #ffe400 !important; }

.color-gold {
  background-color: #b8850b !important; }

.color-yellowGreen {
  background-color: #ccff26 !important; }

.color-olive {
  background-color: #808000 !important; }

.color-green {
  background-color: #7fb817 !important; }

.color-darkGreen {
  background-color: #355423 !important; }

.color-springGreen {
  background-color: #59ff84 !important; }

.color-forest {
  background-color: #008000 !important; }

.color-teal {
  background-color: #15aa98 !important; }

.color-cyan {
  background-color: #39badd !important; }

.color-blue {
  background-color: #406fff !important; }

.color-navy {
  background-color: #1f4c75 !important; }

.color-violet {
  background-color: #a177ef !important; }

.color-blueViolet {
  background-color: #7b68ee !important; }

.color-purple {
  background-color: #9e35ae !important; }

.color-redViolet {
  background-color: #9c1465 !important; }

.color-pink {
  background-color: #fc6be9 !important; }

.color-hotPink {
  background-color: #e62e8a !important; }

.color-red {
  background-color: #d01f3c !important; }

.color-grey {
  background-color: #a6a89d !important; }

.color-silver {
  background-color: #777278 !important; }

.color-darkGrey {
  background-color: #414549 !important; }

.color-white {
  background-color: #f2f2f2 !important; }

.color-black {
  background-color: #262f31 !important; }

.color-black, .color-darkGrey {
  color: #FFFFFF !important; }

/* COLOR PICKER */
.color-picker {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px; }
  .color-picker .box {
    border: 1px solid #868686;
    width: calc((100% / 15) - 10px);
    height: 40px;
    margin: 5px;
    cursor: pointer;
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -ms-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px; }
    .color-picker .box:hover {
      border: 2px solid #fff; }
  .color-picker .box-selected {
    border: 4px solid #222222 !important; }

.h2-count {
  font-size: 70%;
  font-weight: normal; }

/* TABLES */
table {
  font-size: 80%;
  width: 100%;
  margin: 0 auto;
  border-spacing: 2.5rem; }
  table th {
    background: #868686;
    padding: 3px 10px; }
  table tbody tr:nth-child(even) {
    background: #C9C9C9; }
  table tbody tr td {
    padding: 3px 10px;
    border-left: 1px solid #EAEAEA; }
  table tbody tr:hover {
    background: #FFFFFF; }

/* DISTRIBUTE */
.distribute {
  width: 100%; }
  .distribute .row-container {
    display: flex;
    flex-direction: column; }
  .distribute h2 {
    margin: 20px 0; }
  .distribute .change-band {
    font-weight: normal;
    font-size: 60%;
    text-decoration: underline; }
  .distribute nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 5px 0; }
    .distribute nav button {
      width: 18%;
      font-size: 90%;
      margin: 0 !important; }
  .distribute .who, .distribute .log {
    margin: 10px 0;
    background-color: #EAEAEA;
    font-size: 90%;
    border: 1px solid #C9C9C9;
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -ms-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px; }
  .distribute .log {
    padding: 5px;
    font-size: 80%; }
    .distribute .log span {
      position: relative;
      display: inline-block; }
      .distribute .log span .tooltip {
        visibility: hidden;
        background-color: #FFFFFF;
        color: #222222;
        text-align: center;
        padding: 5px;
        -webkit-border-radius: 3px 3px 3px 3px;
        -moz-border-radius: 3px 3px 3px 3px;
        -ms-border-radius: 3px 3px 3px 3px;
        border-radius: 3px 3px 3px 3px;
        position: absolute;
        z-index: 10;
        bottom: 100%;
        left: 50%;
        margin-left: -30px; }
      .distribute .log span:hover {
        text-decoration: underline;
        cursor: pointer; }
        .distribute .log span:hover .tooltip {
          visibility: visible; }
      .distribute .log span:after {
        content: ' | '; }
      .distribute .log span:last-child:after {
        content: ''; }

/* PROGRESS */
.progress {
  width: 100%;
  margin: 5px 0;
  overflow: hidden;
  background-color: #f5f5f5;
  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -ms-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  display: flex; }
  .progress .bar {
    float: left;
    width: 0px;
    height: 20px;
    -webkit-transition: width 2s, height 4s;
    /* Safari */ }

.w-1 {
  width: 1% !important;
  -webkit-transition: width 2s, height 4s;
  /* Safari */
  transition: width 1s; }

.w-2 {
  width: 2% !important;
  -webkit-transition: width 2s, height 4s;
  /* Safari */
  transition: width 1s; }

.w-3 {
  width: 3% !important;
  -webkit-transition: width 2s, height 4s;
  /* Safari */
  transition: width 1s; }

.w-4 {
  width: 4% !important;
  -webkit-transition: width 2s, height 4s;
  /* Safari */
  transition: width 1s; }

.w-5 {
  width: 5% !important;
  -webkit-transition: width 2s, height 4s;
  /* Safari */
  transition: width 1s; }

.w-6 {
  width: 6% !important;
  -webkit-transition: width 2s, height 4s;
  /* Safari */
  transition: width 1s; }

.w-7 {
  width: 7% !important;
  -webkit-transition: width 2s, height 4s;
  /* Safari */
  transition: width 1s; }

.w-8 {
  width: 8% !important;
  -webkit-transition: width 2s, height 4s;
  /* Safari */
  transition: width 1s; }

.w-9 {
  width: 9% !important;
  -webkit-transition: width 2s, height 4s;
  /* Safari */
  transition: width 1s; }

.w-10 {
  width: 10% !important;
  -webkit-transition: width 2s, height 4s;
  /* Safari */
  transition: width 1s; }

.w-11 {
  width: 11% !important;
  -webkit-transition: width 2s, height 4s;
  /* Safari */
  transition: width 1s; }

.w-12 {
  width: 12% !important;
  -webkit-transition: width 2s, height 4s;
  /* Safari */
  transition: width 1s; }

.w-13 {
  width: 13% !important;
  -webkit-transition: width 2s, height 4s;
  /* Safari */
  transition: width 1s; }

.w-14 {
  width: 14% !important;
  -webkit-transition: width 2s, height 4s;
  /* Safari */
  transition: width 1s; }

.w-15 {
  width: 15% !important;
  -webkit-transition: width 2s, height 4s;
  /* Safari */
  transition: width 1s; }

.w-16 {
  width: 16% !important;
  -webkit-transition: width 2s, height 4s;
  /* Safari */
  transition: width 1s; }

.w-17 {
  width: 17% !important;
  -webkit-transition: width 2s, height 4s;
  /* Safari */
  transition: width 1s; }

.w-18 {
  width: 18% !important;
  -webkit-transition: width 2s, height 4s;
  /* Safari */
  transition: width 1s; }

.w-19 {
  width: 19% !important;
  -webkit-transition: width 2s, height 4s;
  /* Safari */
  transition: width 1s; }

.w-20 {
  width: 20% !important;
  -webkit-transition: width 2s, height 4s;
  /* Safari */
  transition: width 1s; }

.w-21 {
  width: 21% !important;
  -webkit-transition: width 2s, height 4s;
  /* Safari */
  transition: width 1s; }

.w-22 {
  width: 22% !important;
  -webkit-transition: width 2s, height 4s;
  /* Safari */
  transition: width 1s; }

.w-23 {
  width: 23% !important;
  -webkit-transition: width 2s, height 4s;
  /* Safari */
  transition: width 1s; }

.w-24 {
  width: 24% !important;
  -webkit-transition: width 2s, height 4s;
  /* Safari */
  transition: width 1s; }

.w-25 {
  width: 25% !important;
  -webkit-transition: width 2s, height 4s;
  /* Safari */
  transition: width 1s; }

.w-26 {
  width: 26% !important;
  -webkit-transition: width 2s, height 4s;
  /* Safari */
  transition: width 1s; }

.w-27 {
  width: 27% !important;
  -webkit-transition: width 2s, height 4s;
  /* Safari */
  transition: width 1s; }

.w-28 {
  width: 28% !important;
  -webkit-transition: width 2s, height 4s;
  /* Safari */
  transition: width 1s; }

.w-29 {
  width: 29% !important;
  -webkit-transition: width 2s, height 4s;
  /* Safari */
  transition: width 1s; }

.w-30 {
  width: 30% !important;
  -webkit-transition: width 2s, height 4s;
  /* Safari */
  transition: width 1s; }

.w-31 {
  width: 31% !important;
  -webkit-transition: width 2s, height 4s;
  /* Safari */
  transition: width 1s; }

.w-32 {
  width: 32% !important;
  -webkit-transition: width 2s, height 4s;
  /* Safari */
  transition: width 1s; }

.w-33 {
  width: 33% !important;
  -webkit-transition: width 2s, height 4s;
  /* Safari */
  transition: width 1s; }

.w-34 {
  width: 34% !important;
  -webkit-transition: width 2s, height 4s;
  /* Safari */
  transition: width 1s; }

.w-35 {
  width: 35% !important;
  -webkit-transition: width 2s, height 4s;
  /* Safari */
  transition: width 1s; }

.w-36 {
  width: 36% !important;
  -webkit-transition: width 2s, height 4s;
  /* Safari */
  transition: width 1s; }

.w-37 {
  width: 37% !important;
  -webkit-transition: width 2s, height 4s;
  /* Safari */
  transition: width 1s; }

.w-38 {
  width: 38% !important;
  -webkit-transition: width 2s, height 4s;
  /* Safari */
  transition: width 1s; }

.w-39 {
  width: 39% !important;
  -webkit-transition: width 2s, height 4s;
  /* Safari */
  transition: width 1s; }

.w-40 {
  width: 40% !important;
  -webkit-transition: width 2s, height 4s;
  /* Safari */
  transition: width 1s; }

.w-41 {
  width: 41% !important;
  -webkit-transition: width 2s, height 4s;
  /* Safari */
  transition: width 1s; }

.w-42 {
  width: 42% !important;
  -webkit-transition: width 2s, height 4s;
  /* Safari */
  transition: width 1s; }

.w-43 {
  width: 43% !important;
  -webkit-transition: width 2s, height 4s;
  /* Safari */
  transition: width 1s; }

.w-44 {
  width: 44% !important;
  -webkit-transition: width 2s, height 4s;
  /* Safari */
  transition: width 1s; }

.w-45 {
  width: 45% !important;
  -webkit-transition: width 2s, height 4s;
  /* Safari */
  transition: width 1s; }

.w-46 {
  width: 46% !important;
  -webkit-transition: width 2s, height 4s;
  /* Safari */
  transition: width 1s; }

.w-47 {
  width: 47% !important;
  -webkit-transition: width 2s, height 4s;
  /* Safari */
  transition: width 1s; }

.w-48 {
  width: 48% !important;
  -webkit-transition: width 2s, height 4s;
  /* Safari */
  transition: width 1s; }

.w-49 {
  width: 49% !important;
  -webkit-transition: width 2s, height 4s;
  /* Safari */
  transition: width 1s; }

.w-50 {
  width: 50% !important;
  -webkit-transition: width 2s, height 4s;
  /* Safari */
  transition: width 1s; }

.w-51 {
  width: 51% !important;
  -webkit-transition: width 2s, height 4s;
  /* Safari */
  transition: width 1s; }

.w-52 {
  width: 52% !important;
  -webkit-transition: width 2s, height 4s;
  /* Safari */
  transition: width 1s; }

.w-53 {
  width: 53% !important;
  -webkit-transition: width 2s, height 4s;
  /* Safari */
  transition: width 1s; }

.w-54 {
  width: 54% !important;
  -webkit-transition: width 2s, height 4s;
  /* Safari */
  transition: width 1s; }

.w-55 {
  width: 55% !important;
  -webkit-transition: width 2s, height 4s;
  /* Safari */
  transition: width 1s; }

.w-56 {
  width: 56% !important;
  -webkit-transition: width 2s, height 4s;
  /* Safari */
  transition: width 1s; }

.w-57 {
  width: 57% !important;
  -webkit-transition: width 2s, height 4s;
  /* Safari */
  transition: width 1s; }

.w-58 {
  width: 58% !important;
  -webkit-transition: width 2s, height 4s;
  /* Safari */
  transition: width 1s; }

.w-59 {
  width: 59% !important;
  -webkit-transition: width 2s, height 4s;
  /* Safari */
  transition: width 1s; }

.w-60 {
  width: 60% !important;
  -webkit-transition: width 2s, height 4s;
  /* Safari */
  transition: width 1s; }

.w-61 {
  width: 61% !important;
  -webkit-transition: width 2s, height 4s;
  /* Safari */
  transition: width 1s; }

.w-62 {
  width: 62% !important;
  -webkit-transition: width 2s, height 4s;
  /* Safari */
  transition: width 1s; }

.w-63 {
  width: 63% !important;
  -webkit-transition: width 2s, height 4s;
  /* Safari */
  transition: width 1s; }

.w-64 {
  width: 64% !important;
  -webkit-transition: width 2s, height 4s;
  /* Safari */
  transition: width 1s; }

.w-65 {
  width: 65% !important;
  -webkit-transition: width 2s, height 4s;
  /* Safari */
  transition: width 1s; }

.w-66 {
  width: 66% !important;
  -webkit-transition: width 2s, height 4s;
  /* Safari */
  transition: width 1s; }

.w-67 {
  width: 67% !important;
  -webkit-transition: width 2s, height 4s;
  /* Safari */
  transition: width 1s; }

.w-68 {
  width: 68% !important;
  -webkit-transition: width 2s, height 4s;
  /* Safari */
  transition: width 1s; }

.w-69 {
  width: 69% !important;
  -webkit-transition: width 2s, height 4s;
  /* Safari */
  transition: width 1s; }

.w-70 {
  width: 70% !important;
  -webkit-transition: width 2s, height 4s;
  /* Safari */
  transition: width 1s; }

.w-71 {
  width: 71% !important;
  -webkit-transition: width 2s, height 4s;
  /* Safari */
  transition: width 1s; }

.w-72 {
  width: 72% !important;
  -webkit-transition: width 2s, height 4s;
  /* Safari */
  transition: width 1s; }

.w-73 {
  width: 73% !important;
  -webkit-transition: width 2s, height 4s;
  /* Safari */
  transition: width 1s; }

.w-74 {
  width: 74% !important;
  -webkit-transition: width 2s, height 4s;
  /* Safari */
  transition: width 1s; }

.w-75 {
  width: 75% !important;
  -webkit-transition: width 2s, height 4s;
  /* Safari */
  transition: width 1s; }

.w-76 {
  width: 76% !important;
  -webkit-transition: width 2s, height 4s;
  /* Safari */
  transition: width 1s; }

.w-77 {
  width: 77% !important;
  -webkit-transition: width 2s, height 4s;
  /* Safari */
  transition: width 1s; }

.w-78 {
  width: 78% !important;
  -webkit-transition: width 2s, height 4s;
  /* Safari */
  transition: width 1s; }

.w-79 {
  width: 79% !important;
  -webkit-transition: width 2s, height 4s;
  /* Safari */
  transition: width 1s; }

.w-80 {
  width: 80% !important;
  -webkit-transition: width 2s, height 4s;
  /* Safari */
  transition: width 1s; }

.w-81 {
  width: 81% !important;
  -webkit-transition: width 2s, height 4s;
  /* Safari */
  transition: width 1s; }

.w-82 {
  width: 82% !important;
  -webkit-transition: width 2s, height 4s;
  /* Safari */
  transition: width 1s; }

.w-83 {
  width: 83% !important;
  -webkit-transition: width 2s, height 4s;
  /* Safari */
  transition: width 1s; }

.w-84 {
  width: 84% !important;
  -webkit-transition: width 2s, height 4s;
  /* Safari */
  transition: width 1s; }

.w-85 {
  width: 85% !important;
  -webkit-transition: width 2s, height 4s;
  /* Safari */
  transition: width 1s; }

.w-86 {
  width: 86% !important;
  -webkit-transition: width 2s, height 4s;
  /* Safari */
  transition: width 1s; }

.w-87 {
  width: 87% !important;
  -webkit-transition: width 2s, height 4s;
  /* Safari */
  transition: width 1s; }

.w-88 {
  width: 88% !important;
  -webkit-transition: width 2s, height 4s;
  /* Safari */
  transition: width 1s; }

.w-89 {
  width: 89% !important;
  -webkit-transition: width 2s, height 4s;
  /* Safari */
  transition: width 1s; }

.w-90 {
  width: 90% !important;
  -webkit-transition: width 2s, height 4s;
  /* Safari */
  transition: width 1s; }

.w-91 {
  width: 91% !important;
  -webkit-transition: width 2s, height 4s;
  /* Safari */
  transition: width 1s; }

.w-92 {
  width: 92% !important;
  -webkit-transition: width 2s, height 4s;
  /* Safari */
  transition: width 1s; }

.w-93 {
  width: 93% !important;
  -webkit-transition: width 2s, height 4s;
  /* Safari */
  transition: width 1s; }

.w-94 {
  width: 94% !important;
  -webkit-transition: width 2s, height 4s;
  /* Safari */
  transition: width 1s; }

.w-95 {
  width: 95% !important;
  -webkit-transition: width 2s, height 4s;
  /* Safari */
  transition: width 1s; }

.w-96 {
  width: 96% !important;
  -webkit-transition: width 2s, height 4s;
  /* Safari */
  transition: width 1s; }

.w-97 {
  width: 97% !important;
  -webkit-transition: width 2s, height 4s;
  /* Safari */
  transition: width 1s; }

.w-98 {
  width: 98% !important;
  -webkit-transition: width 2s, height 4s;
  /* Safari */
  transition: width 1s; }

.w-99 {
  width: 99% !important;
  -webkit-transition: width 2s, height 4s;
  /* Safari */
  transition: width 1s; }

.w-100 {
  width: 100% !important;
  -webkit-transition: width 2s, height 4s;
  /* Safari */
  transition: width 1s; }

/* BOXES */
.boxes {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }

.box {
  background: #666;
  margin: 5px 0;
  padding: 5px;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -ms-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  color: #000;
  font-size: 1.5em;
  cursor: pointer !important;
  font-size: 90%;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none; }

.box-key {
  border: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -ms-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  background: rgba(255, 255, 255, 0.3);
  padding: 1px 5px; }

.box-name {
  text-transform: uppercase;
  line-height: 30px; }

.box-lg {
  width: 43%; }

.box-md {
  width: 31%; }

.box-sm {
  width: 23%; }

.box-xs {
  width: 18%; }

.user-information {
  text-align: left; }

.modal {
  background: rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 3000;
  display: flex;
  justify-content: center;
  align-items: center; }
  .modal .modal-border {
    background: #FFFFFF;
    width: 80%;
    padding: 20px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -ms-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px; }
  .modal .modal-content {
    width: 100%;
    padding: 20px;
    border: 2px solid #f4e775;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -ms-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px; }
    .modal .modal-content .btn {
      margin-top: 30px; }
    .modal .modal-content .icon {
      font-size: 200%;
      color: #f4e775; }

.results {
  background: #EAEAEA;
  padding: 20px;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -ms-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  width: 96%;
  max-height: 92%;
  overflow-y: hidden; }
  .results h3 {
    margin: 0 0 20px 0; }
  .results .results-ranking {
    overflow-y: auto;
    max-height: 92%;
    overflow-y: auto;
    height: 68vh;
    font-size: 80%; }
  .results .result {
    color: #222222;
    margin: 5px;
    text-align: left;
    overflow-x: visible;
    overflow-y: hidden;
    white-space: nowrap;
    max-height: 25px;
    height: 100%;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); }
    .results .result .result-bar,
    .results .result .result-info {
      padding: 3px 10px;
      position: relative;
      height: 100%;
      top: 0;
      left: 0;
      border-radius: 5px;
      -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
      box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); }
    .results .result .result-bar {
      width: 0.1px;
      z-index: 300;
      color: transparent !important; }
    .results .result .result-info {
      z-index: 301;
      -ms-transform: translate(-100%);
      -webkit-transform: translate(-100%);
      transform: translate(0, -100%); }
      .results .result .result-info .name {
        font-weight: bold; }
