<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta id="format-detection" content="telephone=no" />
  <meta id="msapplication-tap-highlight" content="no" />
  <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
  <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height" />
  <title>Line Distribution</title>

  <link rel="stylesheet" href="../css/normalize.min.css">
  <link rel="stylesheet" href="../fonts/icons.css">
  <link rel="stylesheet" href="../css/styles.css">

  <link rel="icon" href="../favicon.png">

</head>
<body>
  <div id="main">
    <div class="container">
      <header>
        <ul class="nav">
          <a href="profile.html">
            <span class="icon-user" />
            <br class="only-mobile" />
            <span class="menu-text"> Profile</span>
          </a>
          <a href="mybands.html">
            <span class="icon-sets" />
            <br class="only-mobile" />
            <span class="menu-text"> My Bands</span>
          </a>
          <a href="distribute.html">
            <span class="icon-bar-chart" />
            <br class="only-mobile" />
            <span class="menu-text"> Distribute</span>
          </a>
          <a href="search.html">
            <span class="icon-search" />
            <br class="only-mobile" />
            <span class="menu-text"> Search</span>
          </a>
        </ul>
      </header>

      <section class="row distribute scrollable">
        <div class="row-container">
          <h2>Twice <span class="change-band"><a>change?</a></span></h2>
          <nav>
            <button class="btn"><span class="icon-refresh"></span> <span class="desktop-only">Reset</span></button>
            <button class="btn"><span class="icon-trash"></span> <span class="desktop-only">Remove Last</span></button>
            <button class="btn" id="decrease"><span class="icon-remove"></span> <span class="desktop-only">Decrease</span></button>
            <button class="btn"><span class="icon-complete"></span> <span class="desktop-only">Finish</span></button>
            <button class="btn"><span class="icon-bookmark"></span> <span class="desktop-only">Help</span></button>
          </nav>

          <h3 class="who">Nayeon is singing.</h3>
          <div class="progress">
            <span class="bar bar0 w-10 color-orange"></span>
            <span class="bar bar1 w-15 color-green"></span>
            <span class="bar bar2 w-7 color-red"></span>
            <span class="bar bar3 w-3 color-blue"></span>
            <span class="bar bar4 w-23 color-purple"></span>
            <span class="bar bar5 w-11 color-violet"></span>
            <span class="bar bar6 w-19 color-pink"></span>
            <span class="bar bar7 w-5 color-cyan"></span>
            <span class="bar bar8 w-7 color-yellow"></span>
          </div>

          <div class="boxes">
            <div class="box box0 box-xs color-orange">
              <span class="box-key">1</span><br>
              <span class="box-name">Nayeon</span><br>
              <span class="timestamp">0</span>
            </div>
            <div class="box box0 box-xs color-green">
              <span class="box-key">2</span><br>
              <span class="box-name">Chaeyoung</span><br>
              <span class="timestamp">0</span>
            </div>
            <div class="box box0 box-xs color-green">
              <span class="box-key">2</span><br>
              <span class="box-name">Chaeyoung</span><br>
              <span class="timestamp">0</span>
            </div>
            <div class="box box0 box-xs color-green">
              <span class="box-key">2</span><br>
              <span class="box-name">Chaeyoung</span><br>
              <span class="timestamp">0</span>
            </div>
            <div class="box box0 box-xs color-green">
              <span class="box-key">2</span><br>
              <span class="box-name">Chaeyoung</span><br>
              <span class="timestamp">0</span>
            </div>
            <div class="box box0 box-xs color-green">
              <span class="box-key">2</span><br>
              <span class="box-name">Chaeyoung</span><br>
              <span class="timestamp">0</span>
            </div>
            <div class="box box0 box-xs color-green">
              <span class="box-key">2</span><br>
              <span class="box-name">Chaeyoung</span><br>
              <span class="timestamp">0</span>
            </div>
            <div class="box box0 box-xs color-green">
              <span class="box-key">2</span><br>
              <span class="box-name">Chaeyoung</span><br>
              <span class="timestamp">0</span>
            </div>
            <div class="box box0 box-xs color-green">
              <span class="box-key">2</span><br>
              <span class="box-name">Chaeyoung</span><br>
              <span class="timestamp">0</span>
            </div>
            <div class="box box0 box-xs color-green">
              <span class="box-key">2</span><br>
              <span class="box-name">Chaeyoung</span><br>
              <span class="timestamp">0</span>
            </div>
            <div class="box box0 box-xs color-green">
              <span class="box-key">2</span><br>
              <span class="box-name">Chaeyoung</span><br>
              <span class="timestamp">0</span>
            </div>
            <div class="box box0 box-xs color-green">
              <span class="box-key">2</span><br>
              <span class="box-name">Chaeyoung</span><br>
              <span class="timestamp">0</span>
            </div>
            <div class="box box0 box-xs color-green">
              <span class="box-key">2</span><br>
              <span class="box-name">Chaeyoung</span><br>
              <span class="timestamp">0</span>
            </div>
            <div class="box box0 box-xs color-green">
              <span class="box-key">2</span><br>
              <span class="box-name">Chaeyoung</span><br>
              <span class="timestamp">0</span>
            </div>
            <div class="box box0 box-xs color-green">
              <span class="box-key">2</span><br>
              <span class="box-name">Chaeyoung</span><br>
              <span class="timestamp">0</span>
            </div>
            <div class="box box0 box-xs color-green">
              <span class="box-key">2</span><br>
              <span class="box-name">Chaeyoung</span><br>
              <span class="timestamp">0</span>
            </div>
            <div class="box box0 box-xs color-green">
              <span class="box-key">2</span><br>
              <span class="box-name">Chaeyoung</span><br>
              <span class="timestamp">0</span>
            </div>
            <div class="box box0 box-xs color-green">
              <span class="box-key">2</span><br>
              <span class="box-name">Chaeyoung</span><br>
              <span class="timestamp">0</span>
            </div>
            <div class="box box0 box-xs color-green">
              <span class="box-key">2</span><br>
              <span class="box-name">Chaeyoung</span><br>
              <span class="timestamp">0</span>
            </div>
            <div class="box box0 box-xs color-green">
              <span class="box-key">2</span><br>
              <span class="box-name">Chaeyoung</span><br>
              <span class="timestamp">0</span>
            </div>
          
              
            </div>
            <div class="log" data-bind="foreach: log"> <!-- holds time information, on click remove it -->
              <a>Nayeon</a><a>Jihyo</a><a>Sana</a><a>Jihyo</a><a>Nayeon</a><a>Nayeon</a><a>Jihyo</a><a>Sana</a><a>Jihyo</a><a>Nayeon</a><a>Nayeon</a><a>Jihyo</a><a>Sana</a><a>Jihyo</a><a>Nayeon</a><a>Nayeon</a><a>Jihyo</a><a>Sana</a><a>Jihyo</a><a>Nayeon</a><a>Nayeon</a><a>Jihyo</a><a>Sana</a><a>Jihyo</a><a>Nayeon</a><a>Nayeon</a><a>Jihyo</a><a>Sana</a><a>Jihyo</a><a>Nayeon</a><a>Nayeon</a><a>Jihyo</a><a>Sana</a><a>Jihyo</a><a>Nayeon</a><a>Nayeon</a><a>Jihyo</a><a>Sana</a><a>Jihyo</a><a>Nayeon</a><a>Nayeon</a><a>Jihyo</a><a>Sana</a><a>Jihyo</a><a>Nayeon</a><a>Nayeon</a><a>Jihyo</a><a>Sana</a><a>Jihyo</a><a>Nayeon</a><a>Nayeon</a><a>Jihyo</a><a>Sana</a><a>Jihyo</a><a>Nayeon</a><a>Nayeon</a><a>Jihyo</a><a>Sana</a><a>Jihyo</a><a>Nayeon</a>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div> <!-- /main -->
<script async defer src=/bundle.js></script>    
</body>
</html> 
