<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta id="format-detection" content="telephone=no" />
  <meta id="msapplication-tap-highlight" content="no" />
  <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
  <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height" />
  <title>Line Distribution</title>

  <link rel="stylesheet" href="../css/normalize.min.css">
  <link rel="stylesheet" href="../fonts/icons.css">
  <link rel="stylesheet" href="../css/styles.css">

  <link rel="icon" href="../favicon.png">

</head>
<body>
  <div id="main">
    <div class="container">
      <header>
        <ul class="nav">
          <a href="profile.html">
            <span class="icon-user" />
            <br class="only-mobile" />
            <span class="menu-text"> Profile</span>
          </a>
          <a href="mybands.html">
            <span class="icon-sets" />
            <br class="only-mobile" />
            <span class="menu-text"> My Bands</span>
          </a>
          <a href="distribute.html">
            <span class="icon-bar-chart" />
            <br class="only-mobile" />
            <span class="menu-text"> Distribute</span>
          </a>
          <a href="search.html">
            <span class="icon-search" />
            <br class="only-mobile" />
            <span class="menu-text"> Search</span>
          </a>
        </ul>
      </header>

      <section class="row scrollable">
        <div class="row-container">
          <div class="user-information">
            <h3>Accout Information</h3>
            <p>Name: <span>Bob</span></p>
            <p>E-mail: <span>bob@eample.com</span></p>
          </div>
          
          <hr>
          <h2>My Songs <span class="h2-count">(3)</span></h2>
          
          <table>
            <thead>
              <tr>
                <th>Band</th>
                <th>Version</th>
                <th>Song</th>
                <th>Original Artist</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Twice</td>
                <td>OT9</td>
                <td>The Boys</td>
                <td>Girls' Generation</td>
                <td><span class="icon icon-trash btn-icon"></span></td>
              </tr>
              <tr>
                <td>Twice</td>
                <td>OT9</td>
                <td>Me Gusta Tu</td>
                <td>GFriend</td>
                <td><span class="icon icon-trash btn-icon"></span></td>
              </tr>
              <tr>
                <td>Twice</td>
                <td>OT9</td>
                <td>Candy Boy</td>
                <td>-</td>
                <td><span class="icon icon-trash btn-icon"></span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
    </div>
  </div>
</div> <!-- /main -->
<script async defer src=/bundle.js></script>    
</body>
</html> 
